{% comment %}
Accepts:
- product: {Object} Product Liquid object (optional)

Usage:
{% endcomment %}

<div class="quick-add quick-add-xy no-js-hidden mt-2">
     
  <form id="xy_form_product_{{ product.id }}" class="form bundle-form" novalidate
      data-type="add-to-bundle-form">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {% if product.variants.size > 1 %}
       <div class="relative"> 
          <select 
              name="id"
              class="variant-select no-js w-full bg-primary-bg px-2 py-1 border-sm mb-1 text-sm mb-2"
              data-variant="{{ variant.title }}"
              data-product-select
            >
              {% for variant in product.variants %}
                <option 
                  value="{{ variant.id }}"
                  data-variant-title="{{ variant.title }}"
                  {% if variant.id == current_variant.id %}
                    selected
                  {% endif %}
                  {% unless variant.available %}
                    disabled 
                  {% endunless %}
                >
                  {{ variant.title }}
                  {% if variant.available %}{% else %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}

          </select>
          <div class="w-3 absolute right-2 top-[10px]"> {% render 'icon-caret', size: 10 %}</div>
        </div>
      {% else %}
          <input type="hidden" name="id" value="{{ product.id }}" data-variant="{{ variant.title }}">
      {% endif %}
      
      <input type="hidden" name="product_name" value="{{ product.title}}">
      <input type="hidden" name="product_image" value="{{ product.featured_image | image_url }}">
      <input type="hidden" name="price" value="{{ product.price | money_without_currency }}">
      <input type="hidden" name="id" value="{{ product.id }}">
      <input type="hidden" name="variantid" value="{{ product.selected_or_first_available_variant.id }}">
      <input type="hidden" name="variantTitle" value="{{ product.selected_or_first_available_variant.title }}">
      
      
      {%- if collection_id -%}
        <input type="hidden" id="bundleCollectionId" name="properties[_BundleCollection]" value="{{ collection_id }}">
      {%- endif -%}

      <div class="{%- if product.selected_or_first_available_variant.available -%}Button Button_primary{% else %}Button Button_secondary{% endif %} xy-button w-full m-auto"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}" aria-live="polite"
        data-sold-out-message="true" {% if product.selected_or_first_available_variant.available == false %} disabled
        {% endif %}
        onclick="window.scrollTo(0,0);">
          {%- if product.selected_or_first_available_variant.available -%}
            {{ 'byb.add_to_bundle' | t }}
          {%- else -%}
            {{ 'products.product.sold_out' | t }}
          {%- endif -%}
        </div>
  </form>
</div>

 