<div id="panel-popup-{{ panel-index }}-{{ item-index }}" class="relative hidden z-[51] panel-popup-{{ panel-index }}-{{ item-index }}" aria-modal="true">

    <div class="fixed inset-0 z-10 w-screen pointer-events-none overflow-y-auto">
      <div class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4">

        <span class="hidden md:inline-block md:h-screen md:align-middle" aria-hidden="true">&#8203;</span>

        <div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl pointer-events-auto">
          <div class="relative flex w-full items-center bg-white rounded overflow-hidden pr-4 shadow-2xl">
            <button type="button" class="close-button absolute right-4 top-4 text-primary-text sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
              <span class="sr-only">Close</span>
              {% render 'icon', icon: 'close', size: 18, class: 'arrow-icon -mt-[0px] bg-primary-orange rounded-full w-5 h-5 py-1', fill: 'var(--primary-text)' %}
            </button>

            <div class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:items-center lg:gap-x-8">
              {% if panel-list-item.popup_image != blank %}
                <img src="{{ panel-list-item.popup_image | image_url: width: 350 }}" lazyload alt="{{ panel-list-item.popup_title }}" class="aspect-[2/3] w-full rounded-l bg-gray-100 object-cover sm:col-span-4 lg:col-span-5">
              {% endif %}
              <div class="sm:col-span-8 lg:col-span-7 pb-8 pt-14 sm:px-6 sm:pt-8 md:p-6 lg:p-8">
                <h3 class="text-4xl Heading tracking-tight font-normal text-primary-text">{{ panel-list-item.popup_title }}</h3>
                <span class="text-base/5 text-primary-text">{{ panel-list-item.popup_subtitle }}</span>

                <p class="text-base/5 text-primary-text mt-4">{{ panel-list-item.richtext | metafield_tag }}</p>
  
                <section aria-labelledby="options-heading" class="mt-8">

                  <form>
      
                    <!-- Size picker -->
                    <div>
                      <div class="flex items-center justify-between">
                        <div class="text-base font-semibold text-gray-900">{{ panel-list-item.popup_features_title }}</div>
                      </div>
  
                      <div class="mt-2 flex gap-2">
                        {% for feature in panel-list-item.popup_feature_list.value %}
                          <label class="flex cursor-pointer items-center justify-center rounded-full border px-3 py-3 text-sm focus:outline-none"> 
                            <span>{{ feature }}</span>
                          </label>
                        {% endfor %}
                       
                      </div>
                    </div>
  
                    <a href="#" class="font-medium block mt-8 text-primary-orange hover:text-primary-text w-fit">{{ panel-list-item.popup_btn_text }}</a>
  
                  </form>
                </section>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


