<div id="{{ section.id }}" class="pt-24 pb-56 mb-6 mx-4">
  <div class="mx-auto flex flex-col gap-y-8">
    <div class="flex flex-col text-center gap-y-2 pb-8 w-full">
      <p class="text-lg/7 font-bold uppercase text-primary-orange">{{ product.title }}</p>
      <h3 class="Heading tracking-tight text-7xl font-bold text-primary-text">Hvad medfølger?</h3>
    </div>
    <div class="splide" id="bundle-section-slider">
      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
            <li class="splide__slide relative">
              <div class="absolute inset-px bg-white"></div>
              <div class="relative flex h-full flex-col overflow-hidden">
                <div class="h-46 w-full bg-secondary-bg flex justify-start items-end">
                  <img class="h-full w-full" src="{{ block.settings.img | image_url: width: 250  }}" alt="">
                </div>
                <div class="px-4 pt-6 pb-6 text-center flex bg-primary-bg justify-center flex-col h-full">
                  <p class="text-base/5 font-semibold text-primary-orange">{{ block.settings.subtitle }}</p>
                  <h3 class="mt-2 Heading font-semibold text-2xl tracking-tight">{{ block.settings.title }} </h3>
                  <p class="mt-2 max-w-lg text-sm/6 text-gray-600">{{ block.settings.desc }}</p>
                </div>
              </div>
             
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">{% render 'icon', icon: 'arrow-left', size: 10, class: '-mt-[2px]' %}</button>
        <span class="splide__slide-count !font-light !text-sm"></span>
        <button class="splide__arrow splide__arrow--next">{% render 'icon', icon: 'arrow-right', size: 10, class: '-mt-[2px]' %}</button>
      </div>
    </div>
  </div>
</div>

<style>
  #{{ section.id }} .splide__arrows {
    position: absolute;
    bottom: -65px;
    height: fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .splide__slide-count {
    font-size: 1rem;
    font-weight: bold;
  }


</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const splide = new Splide('#bundle-section-slider', {
      type   : 'loop',
      perPage: 5,
      perMove: 1,
      gap    : '1rem',
      breakpoints: {
        1024: {
          perPage: 3,
        },
        640: {
          perPage: 2,
        },
      },
    });

    const slideCount = document.querySelector('.splide__slide-count');
    splide.on('mounted', function () {
      slideCount.textContent = `${splide.index + 1} / ${splide.length}`;
    });
    splide.on('move', function () {
      slideCount.textContent = `${splide.index + 1} / ${splide.length}`;
    });

    splide.mount();
  });
</script>

{% schema %}
{
  "name": "Bundle items section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading" 
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "video",
      "id": "video_laptop",
      "label": "Video Laptop"
    },
    {
      "type": "image_picker",
      "id": "mobile-background",
      "label": "Mobile Background" 
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video Mobile"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bundle items section",
      "category": "section",
      "blocks": [
        {
          "type": "item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}



