<section class="w-full mx-auto  section_{{ section.id }}">
    <div class="collection_nav_slider_container mx-4 px-4 pt-4 pb-12 mb-6 bg-secondary-bg flex-col gap-y-8">
        <div class="flex flex-col text-center gap-y-4 w-full">
            <p class="text-base font-semibold text-primary-orange">{{ section.settings.subtitle }}</p>
            <h3 class="Heading tracking-tight text-7xl font-normal text-primary-text">{{ section.settings.title }}</h3>
        </div>
        <div id="collection_navigation" class="collection_navigation flex flex-col Heading">
            <div id="collection_nav_slider" class="splide flex flex-col gap-y-2">
                <div class="splide__track flex w-full"> 
                    <ul id="collection_nav_list" class="splide__list flex justify-between items-center w-full gap-4">
                        {% for block in section.blocks %} 
                        <li class="splide__slide w-[250px]  relative rouded-sm">
                            <a class="relative flex flex-col items-center gap-x-2 gap-y-3 group h-full w-full" href="{{ block.settings.link }}">
                                {% if block.settings.image %}
                                    <img class="bg-white w-full max-h-[140px]"  src="{{ block.settings.image | image_url: width: 250 }}" alt="subcollection - {{ block.settings.title }}"/>
                                {% endif %}
                                {% if block.settings.title %}
                                    <h3 class="Heading font-semibold text-center text-xl w-full">{{ block.settings.title }}</h3>
                                {% endif %} 
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
            
                </div>
                <div class="splide__arrows mx-auto mt-4">
                  <button class="splide__arrow splide__arrow--prev">{% render 'icon', icon: 'arrow-left', size: 10, class: '-mt-[2px]' %}</button>
                  <span class="splide__slide-count !font-light !text-sm"></span>
                  <button class="splide__arrow splide__arrow--next">{% render 'icon', icon: 'arrow-right', size: 10, class: '-mt-[2px]' %}</button>
                </div>
            </div>
        </div>
 
    </div>
</section>

<style>
.collection_navigation .splide__arrow--next {
    right: -0.8rem;
}
.splide__arrow--prev {
    left: -0.8rem;
}

.gradient-white .splide__arrow--prev::after, .gradient-white .splide__arrow--next::after {
    background: -webkit-gradient(linear, right top, left top, from(white), to(transparent)) !important;
    background: linear-gradient(to left, white, transparent) !important;
}
</style>

<script src="{{ 'collection-nav-section.js' | asset_url }}"></script>
      
{% schema %}
      {
        "name": "Collection nav section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle"
            }
        ],
        "blocks": [
          {
            "type": "tab",
            "name": "Tab",
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "title",
                "label": "title"
              },
              {
                "type": "url",
                "id": "link",
                "label": "Link"
              } 
            ]
          }
        ], 
        "presets": [
          {
            "name": "Collection nav section",
            "category": "section",
            "blocks": [
              {
                "type": "tab", 
                "settings": { 
                }
              }
            ]
          }
        ]
      }
{% endschema %}

