<section class="w-full section_{{ section.id }}">
    <div id="collection_navigation" class="container py-2 collection_navigation mx-auto flex-col Heading">
        <div id="collection_nav_slider" class="splide mb-0 sm:my-1">
            <div class="splide__track flex w-full"> 
                <ul id="collection_nav_list" class="splide__list flex  pb-0 justify-between items-center w-full gap-x-2">
                    {% for block in section.blocks %} 
                    <li class="splide__slide relative">
                        <a class="relative flex flex-col items-center gap-2 group h-full w-full" href="{{ block.settings.link }}">
                            {% if block.settings.image %}
                              <div class="hover:opacity-60 flex items-center justify-center w-[120px] h-[120px] py-4 rounded-full">
                                <img class="rounded-md border border-transparent object-cover object-center group-hover:border-primary-border transition-all duration-100 ease max-w-[90px] max-h-[100px] sm:max-w-[90px] sm:max-h-[90px]" width="90" height="90" src="{{ block.settings.image | image_url: width: 120 }}" alt="subcollection - {{ block.settings.title }}"/>
                              </div>
                            {% endif %}
                            {% if block.settings.title %}
                                <h3 class="Heading font-semibold mt-0 text-center text-base sm:text-lg w-full">{{ block.settings.title }}</h3>
                            {% endif %}  
                        </a>
                    </li>
                    {% unless forloop.last %}
                        <div class="border-r border-border w-[1px] h-[120px] sm:h-[150px]"></div>
                    {% endunless %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </section>
  
  <style>


  .splide__arrow:disabled {
    opacity: 0;
    }
  
  .gradient-white .splide__arrow--prev::after, .gradient-white .splide__arrow--next::after {
    background: -webkit-gradient(linear, right top, left top, from(white), to(transparent)) !important;
    background: linear-gradient(to left, white, transparent) !important;
  }
  </style>
  
  
  <script type="text/javascript" defer="defer">
  document.addEventListener('DOMContentLoaded', function () {
    let sliderElement = document.getElementById('collection_nav_slider');
  
    if (sliderElement) {
      let slides = sliderElement.querySelectorAll('.splide__slide');
      let showArrows = slides.length > 1;
  
      let collectionNavSlider = new Splide('#collection_nav_slider', {
        type: 'slide',
        omitEnd: true,
        pagination: false,
        drag: 'free',
        snap: true,
        gap: 1,
        autoWidth: true,
        lazyLoad: false, 
        flickPower: 300,
        arrows: showArrows,
        padding: {
          right: '20px',
          left: '20px',
        },
      });
  
      collectionNavSlider.mount();
    } 
  });
  </script>
      
  {% schema %}
      {
        "name": "Collection nav section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ],
        "blocks": [
          {
            "type": "tab",
            "name": "Tab",
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "title",
                "label": "title"
              },
              {
                "type": "url",
                "id": "link",
                "label": "Link"
              } 
            ]
          }
        ], 
        "presets": [
          {
            "name": "Collection nav section",
            "category": "section",
            "blocks": [
              {
                "type": "tab", 
                "settings": { 
                }
              }
            ]
          }
        ]
      }  
  {% endschema %}
  
  