<div class="flex min-w-full flex-col items-center justify-center  bg-primary-black p-6 min-h-screen">
  
  
  <svg class="w-[200%] lg:w-screen lg:max-w-full right-0 lg:-right-20 top-0 absolute z-0 overflow-hidden max-h-[1000px]" id="uuid-01f5bb2b-0f2b-4a0c-b141-9a66df94fd23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2202.58 1707.18"><defs><style>.uuid-50f6e6bb-7c8b-403e-a305-d6ef17375e84{fill:none;}.uuid-1ac08a75-faf8-4db2-9f6a-7a040690e2c4{fill:url(#uuid-f444754d-99a3-4cc9-8cd7-8ab8b0431742);}.uuid-ebbb3f1e-2579-4cf0-88a3-6307e654dbb0{clip-path:url(#uuid-4eb67cec-0f74-48aa-9d24-fd648b609ed0);}</style><clipPath id="uuid-4eb67cec-0f74-48aa-9d24-fd648b609ed0"><rect class="uuid-50f6e6bb-7c8b-403e-a305-d6ef17375e84" width="2202.58" height="1707.18"/></clipPath><linearGradient id="uuid-f444754d-99a3-4cc9-8cd7-8ab8b0431742" x1="-2187.73" y1="8590.94" x2="2299.23" y2="-17.11" gradientTransform="translate(2562.2 1534.44) rotate(-100.16) scale(.86 -.86)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8d8268"/><stop offset="1" stop-color="#363017"/></linearGradient></defs><g id="uuid-1d7e1b9e-26e7-43f8-960b-52a1fa6e8eba"><g class="uuid-ebbb3f1e-2579-4cf0-88a3-6307e654dbb0"><path class="uuid-1ac08a75-faf8-4db2-9f6a-7a040690e2c4" d="M556.72-251.84c667.94-119.61,1303.18-233.3,1885.9-337.48l103.18-18.57c-289.23,305.93-432.02,788.79-574.66,1171.8-160.68,432.64-507.67,853.08-963.09,928.32C520.86,1572.58,10.87,1261.58,11.94,785.96,12.71,342.51,615.77,104.61,556.72-251.84Z"/></g></g></svg>
  <div class="relative flex flex-col items-center z-10 max-w-full">
      <div class="order-1 md:order-0">
        {% if section.settings.heading != blank %}<h1 class="text-7xl lg:text-8xl font-bold text-center mb-8 text-primary-bg">{{ section.settings.heading }}</h1>{% endif %}
        {% if section.settings.subheading != blank %}<p class="text-center text-2xl lg:text-3xl font-bold mb-8 mt-1 lg:mt-2 text-primary-bg">{{ section.settings.subheading }} <span class="text-primary-orange text-3xl lg:text-4xl px-1">{{ section.settings.prize_value }}</span>{% if section.settings.after_highlight %}<span>{{ section.settings.after_highlight }}</span>{% endif %}</p>{% endif %}
        {% if section.settings.description != blank %}<div class="[&>p]:text-center [&>p]:text-base  [&>p]:mb-8 [&>p]:text-primary-bg"> {{ section.settings.description }}</div>{% endif %}
        <div class="max-w-[450px] mx-auto">
          <div class="{{ section.settings.form }}"></div>
          <div class="flex items-center justify-center mt-4 mb-8 space-x-6">
            <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-14 h-14 rounded-full bg-primary-bg hover:bg-primary-orange transition-colors group">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-orange group-hover:text-primary-bg transition-colors" fill="currentColor" viewBox="0 0 24 24">
                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
              </svg>
            </a>
            <a href="{{ section.settings.instagram_url }}" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-14 h-14 rounded-full bg-primary-orange hover:bg-primary-bg transition-colors group">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-bg group-hover:text-primary-orange transition-colors" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    {% if section.settings.image != blank %}<img width="500" class="order-0 md:order-1 w-full mx-auto max-w-[130px] mb-4 md:mt-6 md:mb-0 block lg:max-w-[400px]" src="{{ section.settings.image | image_url: width: 800 }}"  />{% endif %}
  </div>
</div>

{% schema %}
  { 
    "name": "Klaviyo form", 
    "settings": [
      {
        "type": "text",
        "id": "heading", 
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "prize_value",
        "label": "Prize value"
      },
      {
        "type": "text",
        "id": "after_highlight",
        "label": "Text after highlight"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "form",
        "label": "Form ID",
        "info": "Klaviyo form ID"
      },
      {
        "type": "url",
        "id": "facebook_url",
        "label": "Facebook URL"
      },
      {
        "type": "url",
        "id": "instagram_url",
        "label": "Instagram URL"
      }
    ],
    "presets": [
      {
        "name": "Klaviyo form",
        "settings": {
          "heading": "",
          "subheading": ""
        }
      }
    ]
  }
{% endschema %}
