<footer class="bg-secondary-bg relative overflow-hidden">

  <div class="z-10 relative">

    

    <div class="border-t border-primary-black  xl:grid xl:grid-cols-5 xl:gap-8">
      <div class="col-span-2 px-4 pt-6 bg-secondary-bg flex flex-col items-center justify-center">
    
      <div class="flex flex-col gap-y-2 pb-4 w-full">
        <p class="text-lg/7 font-bold uppercase text-primary-orange">Nyheder, anbefalinger og guides</p>
        <h3 class="Heading tracking-tight text-5xl/tight sm:text-7xl/tight font-bold text-primary-text">Bliv en del af Smelt familien</h3>
        <ul class="flex flex-col gap-y-2 py-4">
          <li class="font-semibold flex gap-x-2">{% render 'icon', icon: 'check', size: 20, fill: 'black' %} Pro-tips og guides om sauna og sunhed</li>
          <li class="font-semibold flex gap-x-2">{% render 'icon', icon: 'check', size: 20, fill: 'black' %}Invitationer til events i hele landet</li>
          <li class="font-semibold flex gap-x-2">{% render 'icon', icon: 'check', size: 20, fill: 'black' %}Eksklusive tilbud og nyheder</li>
        </ul>
        <div class="klaviyo-form-RPkinZ"></div>
      </div>
  
      </div>
      <div class="relative mt-16 grid grid-cols-2 gap-8 xl:col-span-3 xl:mt-0 bg-primary-black px-6 md:px-14  pt-12 md:pt-20 pb-56">
        <div class="grid grid-cols-1 md:gap-12 lg:pl-20">
          <div>
            <h3 class="text-xl/6 Heading font-bold text-white">Shop</h3>
            <ul role="list" class="mt-6 space-y-4">
              {% for link in linklists.footer_shop.links %} 
                <li>
                  <a href="{{ link.url }}" class="text-base/6 text-white hover:text-primary-orange">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-10">
            <h3 class="text-xl/6 Heading font-bold text-white">Support</h3>
            <ul role="list" class="mt-6 space-y-4">
              {% for link in linklists.footer_support.links %} 
                <li>
                  <a href="{{ link.url }}" class="text-base/6 text-white hover:text-primary-orange">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 md:gap-12">
          <div>
            <h3 class="text-xl/6 Heading font-bold text-white">Information</h3>
            <ul role="list" class="mt-6 space-y-4">
              {% for link in linklists.footer_information.links %} 
                <li>
                  <a href="{{ link.url }}" class="text-base/6 text-white hover:text-primary-orange">{{ link.title }}</a>
                </li>
              {% endfor %}                  
            </ul>
          </div>
        <div class="mt-10">

          <h3 class="text-xl/6 Heading font-bold text-white">Kontakt os</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="tel:+4571905836" class="text-base/6 text-white hover:text-primary-orange">+45 71 90 58 36</a>
            </li>
            <li>
              <a href="mailto:info@smeltsauna.dk" class="text-base/6 text-white hover:text-primary-orange">info@smeltsauna.dk</a>
            </li>
            <li>
              <span class="text-base/6 text-white hover:text-primary-orange">Man - Fre: 08:00 - 22:00</span>
            </li>
            <li>
              <span class="text-base/6 text-white hover:text-primary-orange">Lør - Søn: 09:00 - 16:00</span>
            </li>
            <li>
              <span class="text-base/6 text-white hover:text-primary-orange">Helligdage: Lukket</span>
            </li>
          </ul>
    
        </div>
        </div>
        {% if section.settings.logo_image != blank %}
          <a aria-label="logo" class="w-[150px] block absolute bottom-24 left-10 sm:left-32" href="/">
            {%- render 'icon', icon: 'tent', size: 85 -%}
          </a>
        {% endif %}
      </div>

    </div>

  </div>
  <div class="mx-auto h-[1px] bg-border w-full"></div>
  <div class="px-4 py-3 flex flex-col sm:flex-row gap-y-3 bg-primary-black justify-between sm:items-center w-full relative z-[9999999999999]">
    <div class="text-sm/6 text-white  md:mt-0">&copy; 2025 Smelt ApS. - CVR: 38955810 - Strædet 4 - 3770 Allinge - Denmark</div>
    <ul>
      {% for link in linklists.footer-bottom.links %} 
        <li class="inline-block sm:ml-4">
          <a href="{{ link.url }}" class="text-xs/5 sm:text-sm/6 text-white hover:text-primary-orange">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      { 
        "type": "link_list",
        "name": "Link list",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          },
          {
            "type": "link_list",
            "id": "footer_menu",
            "label": "First menu",
            "default": "footer"
          },
          {
            "type": "checkbox",
            "id": "social",
            "label": "Show social links",
            "default": false
          },
          {
            "type": "text",
            "id": "social_title",
            "label": "Social media"
          }
        ]
      },
      { 
        "type": "double_link_list",
        "name": "Double Link list",
        "settings": [
          {
            "type": "text",
            "id": "title_one",
            "label": "Title one"
          },
          {
            "type": "link_list",
            "id": "list_one",
            "label": "First menu"
          },
          {
            "type": "text",
            "id": "title_two", 
            "label": "Title two"
          },
          {
            "type": "link_list",
            "id": "list_two",
            "label": "Second menu"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "news_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "news_text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "form_code",
            "label": "klaviyo form code",
            "info": "Exampel: RNajKb"
          }
        ]
      }
    ]
  }
{% endschema %}
 