{% assign upsellprodList = shop.metaobjects.free_shipping_upsell.unlock-free-shipping.unisex_products %} 
{% assign upsellprodListUni = shop.metaobjects.free_shipping_upsell.unlock-free-shipping.unisex_products %} 
{% assign upsellprodListWoman = shop.metaobjects.free_shipping_upsell.unlock-free-shipping.product_list_woman %} 
{% assign upsellprodListMen = shop.metaobjects.free_shipping_upsell.unlock-free-shipping.product_list_men %} 
{% assign freeshipping = false %}

<div data-ajax-cart-section class="container flex flex-col min-h-[80vh] pt-6 md:pt-12 items-center w-full bg-primary-bg relative h-full">
    <div class="grid grid-cols-[1fr] sm:grid-cols-[3fr_1fr] gap-x-6 w-full sm:px-6 md:px-8 h-full">
        <div class="cart__items flex flex-row flex-wrap gap-2 h-full w-full rounded-sm" data-ajax-cart-section-scroll>

            <!-- Loop through cart items -->
            {% for line_item in cart.items %}
                {% assign line_item_index = forloop.index %}
        
                <div class="cart_item w-full max-w-[310px] bg-white flex items-center justify-between border-b-[0.2] gap-x-4 md:min-h-[130px] h-fit">
                
                <div class="rounded-md pl-2 py-2">
                    <div class="w-fit h-full ">
                        <div class="w-[80px] sm:w-[110px] sm:h-[150px] rounded-sm overflow-hidden">
                            {% render 'media', media: line_item.image, loading: 'lazy', class: "w-full h-full", alt: line_item.title, width: 150 %}
                        </div>
                    </div> 
                </div>
         
                <div class="flex relative flex-col w-full py-4 max-w-[200px]">
                    <a href="{{ line_item.url }}" class="Heading text-sm font-bold">{{ line_item.title | escape }}</a>
    
                    {%- if line_item.properties != empty -%}
                        <ul class="CartItem__PropertyList">
                            {%- for property in line_item.properties -%}
                                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
                                {% if property.first == '_upsellProdId' %}<input id="upsell-prodId" type="hidden" data-upsell-prod-id="{{ property.last }}"/>{% endif %}
                                
                                {%- if property.last == blank or first_character_in_key == '_' -%}
                                    {%- continue -%}
                                {%- endif -%}   
    
                                {% unless property.first == '_Bundle' or property.first == '_BundleCollection'  %}
                                    <li class="CartItem__Property text-xs mt-2 bg-black text-white w-fit px-2 py-1 {% if line_item.properties.Giftwrap %}hidden{% endif %}">{{ property.first }}: {{ property.last }}</li>
                                {% endunless %}
    
                 
                                {% if property.first == 'Discount' and property.last == 'Freeshipping' %}
                                    {% assign freeshipping = true %}
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
        
                    <div class="flex flex-col justify-between md:flex-col md:justify-start items-start gap-2 mt-1">
    
                        {% assign original_price = line_item.original_price | times: 1.0 %}
                        {% assign final_price = line_item.final_price | times: 1.0 %}
                        {% assign percentage_saved_per_item = original_price | minus: final_price | times: 100.0 | divided_by: original_price %}
    
                          <div class="pt-2 text-sm">
                              {{ line_item.final_price | money_without_trailing_zeros }} 
                              {% unless line_item.final_price >= line_item.original_price %}
                                <span class="font-bold line-through text-red-500">{{ line_item.original_price | money_without_trailing_zeros }}</span>
                                {% if percentage_saved_per_item %}
                                    <span class="font-bold w-full">({{ percentage_saved_per_item | round }}% off per item)</span>
                                {% endif %}
                            {% endunless %}
    
    
                              {% if line_item.compare_at_price %}
                                  <span class="font-bold">{{ line_item.compare_at_price | money_without_trailing_zeros }}</span>
                              {% endif %}
    
    
                          </div>
                        
                        <div class="items-center gap-2 hidden">
                            <ajax-cart-quantity>
                                <div class="flex justify-start items-center gap-2 mt-1 mb-1">
                                    <div class="qty flex items-center relative h-6 overflow-hidden rounded-sm border bg-primary-bg border-border w-[100px]">
                                        <!-- "Minus one" button -->
                                        <a name="minus" class="absolute z-[1] bg-primary-bg border-r border-border left-0 h-6 w-6 flex items-center justify-center hover:text-white hover:bg-primary-black" data-ajax-cart-quantity-minus
                                        href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | minus: 1 }}"> 
                                        -
                                        </a>
                                
                                        <!-- Item quantity input -->
                                        <input class="relative text-sm h-6 w-full bg-white z-[0] text-center appearance-none border border-border" data-ajax-cart-quantity-input="{{ line_item_index }}"
                                        name="updates[]" 
                                        value="{{ line_item.quantity }}"  
                                        type="number" 
                                        label="Quantity"
                                        form="my-ajax-cart-form"/>
                                
                                        <!-- "Plus one" button -->
                                        <a name="plus" class="absolute z-[1] bg-primary-bg right-0 mt-[1px] border-l border-border h-6 w-6 flex items-center justify-center hover:text-white hover:bg-primary-black" data-ajax-cart-quantity-plus
                                        href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | plus: 1 }}"> 
                                        +
                                        </a>
                                    </div>
                                </div>
                            </ajax-cart-quantity>
                
                            <a class="text-sm mt-2" data-ajax-cart-request-button href="{{ line_item.url_to_remove }}">
                                {{ 'cart.general.remove' | t }}
                            </a> 
                        </div>
    
               
                     
                    </div>
                    <!-- Display discount allocations if they exist -->
                    {% if line_item.line_level_discount_allocations.size > 0 %}
                        <div class="discount pt-2 relative w-full">
                            <ul class="w-fit">
                                {% for allocation in line_item.line_level_discount_allocations %}
                                    <li class="flex flex-col">
                                        <span class="bg-primary-black text-white w-fit px-2 py-1 text-xs">{{ allocation.discount_application.title }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
    
                    <div class="w-full mt-2">
                        {% render 'line-item-components' components: line_item.item_components %}
                    </div>
        
                    <!-- Item error messages -->
                    <div data-ajax-cart-errors="{{ line_item.key }}"></div>
    
                </div>
            </div>
        
                <hr/>
            {% endfor %}
    
    
            </div>

        {% for line_item in cart.items %}
            {% assign menCount = 0 %}
            {% assign womenCount = 0 %}
            {% assign unisexCount = 0 %}
            {% assign girlsCount = 0 %}
            {% assign boysCount = 0 %}

            {% for line_item in cart.items %}
                {% assign gender = line_item.product.metafields.PIM.Gender_Gender.value | downcase %}
                {% if gender == 'men' %}
                    {% assign menCount = menCount | plus: line_item.quantity %}
                {% elsif gender == 'woman' %}
                    {% assign womenCount = womenCount | plus: line_item.quantity %}
                {% elsif gender == 'unisex' %}
                    {% assign unisexCount = unisexCount | plus: line_item.quantity %}
                {% elsif gender == 'girls' %}
                    {% assign girlsCount = girlsCount | plus: line_item.quantity %}
                {% elsif gender == 'boys' %}
                    {% assign boysCount = boysCount | plus: line_item.quantity %}
                {% endif %} 
            {% endfor %} 

            {% assign mostUsedGender = '' %}
            {% assign maxCount = 0 %}

            {% if menCount > maxCount %}
                {% assign mostUsedGender = 'men' %}
                {% assign maxCount = menCount %}
            {% endif %}

            {% if womenCount > maxCount %}
                {% assign mostUsedGender = 'woman' %}
                {% assign maxCount = womenCount %}
            {% endif %}

            {% if unisexCount > maxCount %}
                {% assign mostUsedGender = 'unisex' %}
                {% assign maxCount = unisexCount %}
            {% endif %}

            {% if girlsCount > maxCount %}
                {% assign mostUsedGender = 'girls' %}
                {% assign maxCount = girlsCount %}
            {% endif %}

            {% if boysCount > maxCount %}
                {% assign mostUsedGender = 'boys' %}
                {% assign maxCount = boysCount %}
            {% endif %}

            {% if menCount == womenCount %}
                {% assign mostUsedGender = 'unisex' %}
            {% endif %}
        {% endfor %} 

        {% if mostUsedGender == 'men' %}
            {% assign upsellprodList = upsellprodListMen %}
        {% elsif mostUsedGender == 'woman' %}
            {% assign upsellprodList = upsellprodListWoman %}
        {% else %}
            {% assign upsellprodList = upsellprodListUni %}
        {% endif %}

        {% for prod in upsellprodList.value %}
            {% unless prod.available %}
                {% continue %}
            {% endunless %}
            {% assign upsellprod = all_products[prod.handle] %}

            {% if upsellprod %}
                {% break %}
            {% endif %}
        {% endfor  %}

    

        <div class="empty-cart col-auto bg-white flex flex-col items-center justify-center h-[300px] w-full">
            <p class="text-center">{{ 'cart.general.empty' | t }}</p>
            <a href="/collections/all" class="mt-3 Button Button_primary">{{ 'cart.general.continue_browsing_html' | t }}</a>
        </div>


        <div class="Cart_Footer w-full mx-auto relative bottom-0 pt-3 pb-6 bg-primary-bg min-w-[320px]">

            <div class=" flex flex-col w-full col-auto justify-between pb-5 border-b-1 bg-primary-bg select-none gap-y-2"> 
            {% render 'cart-upsell-prod', upsellprod: upsellprod, freeshipping: freeshipping, gender: mostUsedGender %}
            </div> 

            {% render 'giftwrapping' %}

            <div class="flex flex-col pt-2 pb-2">
                <div class="flex justify-between items-center py-1 border-b border-border"><span class="text-sm md:text-base font-bold">{{ 'cart.general.shipping' | t }}</span><span class="text-sm md:text-base font-bold">{% if freeshipping == true %}{{ 'cart.general.shipping_free' | t }}{% else %}{{ 'cart.general.shipping_min' | t }}{% endif %}</span></div>
                <div class="flex justify-between items-center py-1 border-b border-border"><span class="text-sm md:text-base font-bold">{{ 'cart.general.saved' | t }}</span> <span data-ajax-cart-bind="total_discount | money_with_currency">{{ cart.total_discounts | money_without_trailing_zeros }}</span></div>
                <div class="flex justify-between items-center py-1 border-b border-border"><span class="text-sm md:text-base font-bold" >{{ 'cart.general.subtotal' | t }}</span> <span data-ajax-cart-bind="total_price | money_with_currency">{{ cart.total_price | money_without_trailing_zeros }}</span></div>
            </div>
<!-- Anyday PriceWidget  -->
<script src="https://my.anyday.io/price-widget/anyday-price-widget.js" type="module" async></script>
<anyday-price-widget style="display: flex;margin: 0px 0 10px 0px;color:#000;justify-content:flex-end;" currency="DKK" price="{{ cart.total_price | divided_by:100 }}" token="e604dff4bc9a4b47ac80e411d5f709f4" price-format-locale="en-UK" locale="da-DK" theme="light" shop-name="smeltsauna.dk" custom-css=""></anyday-price-widget>
<!-- Anyday PriceWidget, End  -->
            {% if settings.cart_notes_enable %}
                <div id="cartInstructionButton" class="hidden md:block relative flex text-sm justify-between items-center border-b border-border py-2 cursor-pointer" onclick="toggleCartInstructions()">{{ 'cart.general.note' | t }} <span id="arrow" class="arrow-down"></span></div>
                <div id="cartInstructionDropdown" class="hidden">
                <label class="hidden" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea class="w-full pb-8 px-2 bg-white" name="note" placeholder="{{ 'cart.general.note_placeholder' | t }}" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
            {% endif %}

            {% form 'cart', cart, id: 'my-ajax-cart-form' %}
                <button class="Button Button_primary w-full" type="submit" name="checkout">
                    {{ 'cart.general.checkout' | t }}
                </button> 
            {% endform %}



            <p class="terms text-base flex justify-center gap-2 pt-4 pb-2">
                <input type="checkbox" id="agree" />
                <label for="agree">
                {{ 'cart.general.terms_html' | t }}
                </label>
            </p> 
            <div class="hidden sm:block flex items-center justify-center py-2 mt- max-w-fit px-0 m-auto">
                {% render 'payment-icons' %}
            </div> 
        </div>



    </div>
</div>
  
{% schema %} 
    { 
        "name": "Ajax cart" 
    } 
{% endschema %}