<section class="Size_tabs my-20">
    <div class="container Section_header mb-8 max-w-[1280px]">
        {% if section.settings.title %}
            <h3 class="text-6xl md:text-8xl font-semibold max-w-[450px]">{{ section.settings.title }}</h3>
        {% endif %}
        {% if section.settings.subtitle %}
            <p class="text-base mt-2">{{ section.settings.subtitle }}</p>
        {% endif %}
    </div>
    <div class="container overflow-hidden rounded-md bg-primary-bg px-6 md:px-16 pb-12 pt-4 relative grid gap-4 grid-cols-6 justify-between max-w-[1280px]">
        <div class="relative col-span-6">
            <div class="flex flex-col items-center">
                <ul class="mb-6 mt-6 w-full flex list-none flex-row flex-wrap border-b-0 pl-0">
                    {% assign sizeTabCount = 0 %}
                    {% for block in section.blocks %}
                        {%- if block.type == 'title' -%}
                            {% assign sizeTabCount = sizeTabCount | plus: 1 %}
                            <li class="border-r border-black text-left last:border-none min-w-[100px] ml-10 first:ml-0 ">
                                <a href="javascript:void(0)" class="Size-tab Heading text-xl block w-full py-2 {% if forloop.first %}font-bold{% endif %}" data-tab-index="{{ sizeTabCount }}" >{{ block.settings.title }}</a>
                            </li>
                        {%- endif -%}
                    {% endfor %}

                </ul>

                <!-- Tabs content -->
                <div class="flex mb-6 border-y border-border w-full bg-white rounded-md pt-8 pb-14 px-8">
            
                    {% assign currentSizeIndex = 0 %}
                    {% for block in section.blocks %}
                        {%- if block.type == 'title' -%}
                            {% if currentSizeIndex > 0 %}
                                <div class="size-tab-content justify-start w-full flex" id="size-tabs-{{ currentSizeIndex }}" style="display: none;">
                                <div class="flex flex-wrap flex-row gap-y-2 md:gap-y-4 gap-x-1 sm:gap-x-2">
                                    {{ sizeTabContent }}
                                </div>
            
                                    {% for innerBlock in block.blocks %}
                                        {%- if innerBlock.type == 'button' -%}

                                                <a class="Button Button_primary min-w-[120px]" href="{{ innerBlock.settings.button_link }}">
                                                    {{ innerBlock.settings.title }}
                                                </a>
                                            
                                        {%- endif -%}
                                    {% endfor %}
                            
                                </div>
                            {%- endif -%}
                            {% assign currentSizeIndex = currentSizeIndex | plus: 1 %}
                            {% assign sizeTabContent = "" %}
                            {% assign sizeTabLink = block.settings.link %}
                            {% assign sizeTabLinkText = block.settings.link_text %}
                        {%- endif -%}
            
                            {%- if block.type == 'tab_content' -%}
                                {% capture sizeTabContent %}
                                {{ sizeTabContent }}
                                <div class="content w-full flex flex-row items-center gap-2 mt-4 border-b border-border pb-3 ">
                                    {% if block.settings.icon %}{{ block.settings.icon | image_url: width: 60, height: 60 | image_tag }}{% endif %}
                                    <div class="flex flex-col gap-0 border-l border-black pl-2 ml-1">
                                        <h3 class="content-title font-bold text-2xl">{{ block.settings.title }}</h3>
                                        <div class="content-text">{{ block.settings.text }}</div>
                                    </div>
                                </div>

                                {% endcapture %}
                            {%- endif -%}
                            
                            {%- if block.type == 'button' -%}
                                {% capture sizeTabContent %}
                                    {{ sizeTabContent }}
                                    {% if block.settings.title != blank %}
                                        <a class="Button Button_secondary text-sm sm:text-base min-w-[45px] sm:min-w-[65px]" href="{{ block.settings.button_link }}">
                                            {{ block.settings.title }}
                                        </a>
                                    {% endif %}
                                {% endcapture %}
                            
                            {%- endif -%} 
                    {% endfor %}
            
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabLinks = document.querySelectorAll('.Size-tab[data-tab-index]');
        const tabContents = document.querySelectorAll('.size-tab-content');
    
        tabLinks.forEach(function (tabLink) {
            tabLink.addEventListener("click", function (e) {
                e.preventDefault();
                const tabIndex = this.getAttribute("data-tab-index");
    
                // Hide all tab contents
                tabContents.forEach(function (content) {
                    content.style.display = "none";
                });
    
                // Remove the "font-bold" class from all tab links
                tabLinks.forEach(function (link) {
                    link.classList.remove("font-bold");
                });
    
                // Show the selected tab content
                document.getElementById(`size-tabs-${tabIndex}`).style.display = "flex";
    
                // Add the "font-bold" class to the clicked tab link
                this.classList.add("font-bold");
            });
    
            // Show the first tab by default
            if (tabLinks.length > 0) {
                tabLinks[0].click();
                tabLinks[0].classList.add("font-bold");
            }
        });
    });
    
</script>




{% schema %}
{
    "name": "Size tabs",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        }
    ],
    "blocks": [
        {
            "type": "title",
            "name": "Title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "tab_content",
            "name": "Tab Content",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Content Title"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Content Text"
                },
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Button text"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Size tabs",
            "category": "section",
            "blocks": [
                {
                    "type": "button",
                    "settings": {}
                }
            ]
        }
    ]
}
{% endschema %}

