<div id="text-slider" class="splide h-fit z-0 overflow-hidden mb-28 bg-primary-black relative py-16">

    <div class="splide__track relative z-20">
        <ul class="splide__list flex items-center">
            {% for block in section.blocks %}
                <li class="splide__slide"><a class="Heading font-bold text-5xl text-center whitespace-nowrap text-primary-bg" target="_blank" href="{{ section.settings.link }}">{{ block.settings.content }}</a></li> 
                <li class="splide__slide"><a class="Heading font-bold text-xl text-center text-light-green" href="{{ section.settings.link }}" target="_blank">{% if section.settings.symbol == blank %}●{% else %}{{ section.settings.symbol | image_url: width: 40 | image_tag: alt: 'icon', loading: 'lazy' }}{% endif %}</a></li> 
            {% endfor %} 
        </ul>        
    </div>
    <svg viewBox="0 0 1024 1024" class="absolute left-1/2 -top-[140%] -z-10 size-[72rem] -translate-x-1/2" aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.5" />
        <defs>
          <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
            <stop stop-color="#D3C996" />
            <stop offset="1" stop-color="#586052" stop-opacity="0" />
          </radialGradient>
        </defs>
      </svg>
</div>
<script src="{{ 'text-slider-section.js' | asset_url }}" defer="defer"></script> 

{% schema %}
{
    "name": "Text Slider",
    "settings": [ 
        {
            "type": "image_picker",
            "id": "symbol",
            "label": "Symbol",
            "info": "Select a symbol to display between each slide"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Enter a link to apply to all slides"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "text",
                    "id": "content",
                    "label": "Slide Content",
                    "default": "Enter your text here"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text Slider",
            "category": "Custom",
            "blocks": [
                {
                    "type": "slide",
                    "settings": {
                        "content": "Default slide content"
                    }
                }
            ]
        }
    ]
}
{% endschema %}